<div class="pdp-carator-bnr">
  <div class="pdp-carator-inner">
    <div class="pdp-carator-cont">
      <h3>Curator</h3>
      <span class="pdpc-subtitle">Eyeshadow</span>
      <span class="pdp-carator-des">Customizable. Refillable. Reusable.</span>
      <a href="/pages/curator" class="pdp-explore-link">Explore</a>
    </div>
    <div class="pdp-carator-img">
      <img src="https://cdn.shopify.com/s/files/1/0016/7116/8064/files/CURATOR.png?v=1632308850" width="365" height="420" alt="Curator">
    </div>
  </div>
</div>