<div class="see-result-section border-bottom section-pd">
   <div class="container-fix">
      <div class="see-result-title">
         <div class="h2">See The Results</div>
      </div>
      <div class="before-after-results">
         <div class="before-use" style="text-align: left;">
            <h3>Before</h3>
            <img alt="before use Caution mascara wand" src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/before.jpg?v=1548067529" style="float: none;" />
         </div>
         <div class="after-use" style="text-align: left;">
            <h3>After</h3>
            <img alt="after use Caution mascara wand" src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/after.jpg?v=1548067683" style="float: none;" />
         </div>
      </div>
   </div>
</div>
<div class="beware-extreme-section">
   <div class="container-fix">
      <div class="beware-content">
         <h3>BEWARE OF EXTREME LASHES</h3>
         <div class="h2">#USECAUTION</div>
         <a class="defaultn-style" href="/products/caution-extreme-lash-mascara">Shop Now</a>
      </div>
      <div class="beware-caution-product" style="text-align: left;"><img alt="Caution mascara wand" src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/caution-product-img.jpg?v=1548067730" style="float: none;" /></div>
   </div>
</div>
<div class="top-sellers pair-with-products">
   <div class="product aside">
      <div class="relateds init">
         <div class="related-interior related-tabs subTitleB">
            <div class="related-tab active"><span class="related-tab-label subTitleBb"><a href="/collections/makeup-collections-cruelty-free">Pair With</a></span></div>
         </div>
         <div class="block related active">
            <div class="related-interior content">
               <ol class="products product-grids grids list items related-grids row product-items  size-5 products-related">
                  <li class="item product product-grid grid column product-item">
                     <div class="product-info-top" style="text-align: left;">
                        <a class="product-image" href="/products/1-5mm-mechanical-gel-eye-liner"><img alt="1.5mm mechanical gel eye liner shades" src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/mechenical-gel.jpg?v=1548068195" style="float: none;" /></a><a class="product-image" href="/products/1-5mm-mechanical-gel-eye-liner">&nbsp;</a>
                        <div class="product-content">
                           <div class="desc std"><a class="product description product-item-description typeB internal-link" href="/products/1-5mm-mechanical-gel-eye-liner"> Elevate your foundation to unprecedented performance with this state-of-the... </a></div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title"><a class="product-item-link internal-link" href="/products/1-5mm-mechanical-gel-eye-liner">1.5MM Mechanical Gel Eye Liner</a></h4>
                              <div class="price-box">
                                 <div class="price-box"><a class="product-item-link internal-link" href="/products/1-5mm-mechanical-gel-eye-liner"> <span class="regular-price" id="product-price-414-related-1"> <span class="price">$18.00</span> </span> </a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="item product product-grid grid column product-item">
                     <div class="product-info-top" style="text-align: left;">
                        <a class="product-image" href="/products/scattered-light-glitter-eyeshadow"><img alt="scattered light glitter eyeshadow" src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/mechenical-gel-product.jpg?v=1548068329" style="float: none;" /></a><a class="product-image" href="/products/scattered-light-glitter-eyeshadow">&nbsp;</a>
                        <div class="product-content">
                           <div class="desc std"><a class="product description product-item-description typeB internal-link" href="/products/scattered-light-glitter-eyeshadow"> A weightless refined glitter eyeshadow infused with light-reflecting pearls to create high impact, sparkling eyes... </a></div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title"><a class="product-item-link internal-link" href="/products/scattered-light-glitter-eyeshadow">SCATTERED LIGHT GLITTER EYESHADOW</a></h4>
                              <div class="price-box" data-role="priceBox" data-product-id="662">
                                 <div class="price-box"><a class="product-item-link internal-link" href="/products/scattered-light-glitter-eyeshadow"> <span class="regular-price" id="product-price-414-related-2"> <span class="price">$29.00</span> </span></a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="item product product-grid grid column product-item">
                     <div class="product-info-top" style="text-align: left;">
                        <a class="product-image" href="/products/arch-brow-volumizing-fiber-gel"> <img src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/arch-brow_1bb88309-e508-40bf-a294-a478cfe94319.jpg?v=1548138926" alt="Hourglass Cosmetics" />&nbsp;</a>
                        <div class="product-content">
                           <div class="desc std"><a class="product description product-item-description typeB internal-link" href="/products/arch-brow-volumizing-fiber-gel"> A buildable tinted gel formula infused with micro fibers to provide instant... </a></div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title"><a class="product-item-link internal-link" href="/products/arch-brow-volumizing-fiber-gel">ARCH BROW VOLUMIZING FIBER GEL</a></h4>
                              <div class="price-box" data-role="priceBox" data-product-id="662">
                                 <div class="price-box"><a class="product-item-link internal-link" href="/products/arch-brow-volumizing-fiber-gel"> <span class="regular-price" id="product-price-414-related-3"> <span class="price">$28.00</span> </span> </a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="item product product-grid grid column product-item">
                     <div class="product-info-top">
                        <a class="product-image" href="/products/arch-brow-sculpting-pencil"> <img src="//cdn.shopify.com/s/files/1/0081/1660/0950/files/scattered-light-pencil.jpg?v=1548069177" alt="Hourglass Cosmetics" />&nbsp;</a>
                        <div class="product-content">
                           <div class="desc std"><a class="product description product-item-description typeB internal-link" href="/products/arch-brow-sculpting-pencil"> A mechanical brow pencil with a unique triangular-shaped tip that combines the benefits of powder... </a></div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title"><a class="product-item-link internal-link" href="/products/arch-brow-sculpting-pencil">ARCH BROW SCULPTING PENCIL</a></h4>
                              <div class="price-box" data-role="priceBox" data-product-id="662">
                                 <div class="price-box"><a class="product-item-link internal-link" href="/products/arch-brow-sculpting-pencil"> <span class="regular-price" id="product-price-414-related-4"> <span class="price">$34.00</span> </span> </a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>