<div class="vanish-banner">
	<a href="javascript:void(0)">
		<img alt="VANISH™ SEAMLESS FINISH LIQUID FOUNDATION" class="vanish-banner-desk" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-banner.jpg?12797792914494029230">
		<img alt="VANISH™ SEAMLESS FINISH LIQUID FOUNDATION" class="vanish-banner-mob" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-banner-mob_be068b68-7be9-45fb-ad55-1e44dce5808f.jpg?13388281846331712174">
	</a>
  
  {% if product.handle == 'the-future-of-foundation' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation designed to deliver instant full coverage for virtual skin perfection. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif product.handle == 'the-future-of-foundation-for-oily-skin' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation for oily skin designed to deliver instant full coverage. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif product.handle == 'the-future-of-foundation-for-mature-skin' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation for mature skin designed to deliver instant full coverage. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif product.handle == 'the-future-of-foundation-for-combination-skin' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation for combination skin designed to deliver instant full coverage. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif product.handle == 'the-future-of-foundation-full-coverage' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid full coverage foundation designed to deliver instant virtual skin perfection. This innovative, weightless formula applies for like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>
  
  {% elsif page.url == '/pages/the-future-of-foundation' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation designed to deliver instant full coverage for virtual skin perfection. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif page.url == '/pages/the-future-of-foundation-for-oily-skin' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation for oily skin designed to deliver instant full coverage. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif page.url == '/pages/the-future-of-foundation-for-mature-skin' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation for mature skin designed to deliver instant full coverage. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif page.url == '/pages/the-future-of-foundation-for-combination-skin' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid foundation for combination skin designed to deliver instant full coverage. This innovative, weightless formula applies like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% elsif page.url == '/pages/the-future-of-foundation-full-coverage' %}
      <div class="banner-right-content">
          <small>THE FUTURE OF FOUNDATION</small>
          <h1>VANISH™<br> SEAMLESS FINISH<br> LIQUID FOUNDATION</h1>
          <p>A highly concentrated liquid full coverage foundation designed to deliver instant virtual skin perfection. This innovative, weightless formula applies for like a second-skin, creating a smooth and flawless complexion.</p>
          <a class="defaultn-style defaultn-style-white" href="#feature-section">LEARN MORE</a>
          <a class="defaultn-style defaultn-style-white" href="#catalog-section">SHOP NOW</a>
      </div>

  {% endif %}

	
  
  
</div>
<div class="product-feature-block">
	<div class="product-feature-col">
		<h2>instant full coverage <small>1/2 OF A PUMP</small></h2>
	</div>
	<div class="product-feature-col">
		<h2>NO PRIMER NEEDED</h2>
	</div>
	<div class="product-feature-col">
		<h2>NATURAL FINISH</h2>
	</div>
</div>
<div id="feature-section" class="vanish-feature-benefits">
	<div class="product-feature-col">
		<div class="vanish-feature">
			<h3>FEATURES</h3>
			<ul class="list-style-bullets">
				<li>Innovative coated pigments create a smooth, long-wearing application without drying out the skin</li>
				<li>Innovative coated pigments create a smooth, long-wearing application without drying out the skin</li>
				<li>Fade-proof, 24-hour wear</li>
				<li>Waterproof, transfer-proof &amp; sweat-proof</li>
				<li>Non-comedogenic formula</li>
				<li>Available in 32 shades</li>
				<li>Vegan &amp; cruelty free</li>
			</ul>
		</div>
	</div>
	<div class="product-feature-col">
		<div class="vanish-research">
			<h3>RESEARCH RESULTS</h3>
			<p>Based on a 1-week consumer study of 31 women, Vanish demonstrated dramatic visible improvements:</p>
			<h4>97%</h4>
			<p>Felt the foundation had the coverage of a concealer</p>
			<h4>94%</h4>
			<p>Felt the foundation made their skin look smoother</p>
			<h4>94%</h4>
			<p>Felt the foundation effectively covered skin imperfections</p>
		</div>
	</div>
	<div class="product-feature-col">
		<div class="vanish-innovation">
			<h3>INNOVATION</h3>
			<p>Weightless, instant full coverage is delivered through the formula’s innovative coated pigments—allowing for seamless application and a long-wearing, second-skin adherence. A natural finish is delivered through light-refracting microspheres, blurring and smoothing any imperfections for virtually perfect skin.</p>
		</div>
	</div>
</div>
<div class="vanish-howtouse">
	<div class="heading-style-border">
		<h3>HOW TO USE</h3>
	</div>
	<div class="howtouse-steps">
		<div class="howtouse-col">
			<span>1</span>
			<h4>HYDRATE</h4>
			<p>No primer needed</p>
		</div>
		<div class="howtouse-col">
			<span>2</span>
			<h4>1/2 OF A PUMP</h4>
			<p>Dot onto face</p>
		</div>
		<div class="howtouse-col">
			<span>3</span>
			<h4>BLEND</h4>
			<p>Using Vanish™ Seamless Finish Foundation Brush or the Nº 2 Foundation Brush*</p>
			<p>*If using makeup sponge, use damp</p>
		</div>
	</div>
</div>
<div class="product-carousel-section" id="product-video-carousel">
    <div class="product-video-item">
      <div class="product-img-video-left">
      <a class="cmn-videoplay" frame-id="youtubevidid1" title="Full Coverage" href="https://www.youtube.com/embed/x-JIeSCtkkg?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360">
        <img alt="Full Coverage" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-product-img.png?3453676607481243107">
      </a>
    </div>
        <div class="product-content-video">
            <span>How to apply</span>
            <h3>Full Coverage</h3>
            <a class="videoplay-icon cmn-videoplay" frame-id="youtubevidid1" title="Full Coverage" href="https://www.youtube.com/embed/x-JIeSCtkkg?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360">
            
            </a>
        </div>
    </div>
    <div class="product-video-item">
      <div class="product-img-video-left">
      <a class="cmn-videoplay" frame-id="youtubevidid2" title="Diffused Coverage" href="https://www.youtube.com/embed/sLB9KujmEYo?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360">
        <img alt="Diffused Coverage" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-product-img.png?3453676607481243107">
      </a>
    </div>
        <div class="product-content-video">
            <span>How to apply</span>
            <h3>Diffused Coverage</h3>
            <a class="videoplay-icon cmn-videoplay" frame-id="youtubevidid2" title="Diffused Coverage" href="https://www.youtube.com/embed/sLB9KujmEYo?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360"></a>
        </div>
    </div>
    <div class="product-video-item">
      <div class="product-img-video-left">
        <a class="cmn-videoplay" frame-id="youtubevidid3" title="Luminous Coverage" href="https://www.youtube.com/embed/nnDh8U0nP6g?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360">
          <img alt="Luminous Coverage" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-product-img.png?3453676607481243107">
        </a>
      </div>
        <div class="product-content-video">
            <span>How to apply</span>
            <h3>Luminous Coverage</h3>
            <a class="videoplay-icon cmn-videoplay" frame-id="youtubevidid3" title="Luminous Coverage" href="https://www.youtube.com/embed/nnDh8U0nP6g?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360"></a>
        </div>
    </div>
    <div class="product-video-item">
          <div class="product-img-video-left">
            <a class="cmn-videoplay" frame-id="youtubevidid4" title="Targeted Coverage" href="https://www.youtube.com/embed/WxW45lLgdK4?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360">
              <img alt="Targeted Coverage" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-product-img.png?3453676607481243107">
            </a>
          </div>
        <div class="product-content-video">
            <span>How to apply</span>
            <h3>Targeted Coverage</h3>
            <a class="videoplay-icon cmn-videoplay" frame-id="youtubevidid4" title="Targeted Coverage" href="https://www.youtube.com/embed/WxW45lLgdK4?enablejsapi=1&origin=https://www.hourglasscosmetics.com" data-fancybox="bigbuckbunny" data-width="640" data-height="360"></a>
        </div>
    </div>
</div>
<div class="top-sellers pair-with-products pair-with-vanish">
   <div class="product aside">
      <div class="relateds init">
         <div class="related-interior related-tabs subTitleB">
            <div class="related-tab active">
               <span class="related-tab-label subTitleBb">
               <a href="javascript:void(0)">Pair With</a>
               </span>
            </div>
         </div>
         <div class="block related active">
            <div class="related-interior content">
               <ol class="products product-grids grids list items related-grids row product-items  size-5 products-related">
                  <li class="item product product-grid grid column product-item">
                     <div class="product-name-tag">
                        <a href="/products/vanish-seamless-finish-liquid-foundation">FOR FULL COVERAGE</a>
                     </div>
                     <div class="product-info-top">
                        <a class="product-image" href="/products/vanish-seamless-finish-foundation-brush">
                        <img alt="VANISH™ SEAMLESS FINISH FOUNDATION BRUSH" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/for-full-coverage.png?8555949683528060542">
                        </a>
                        <div class="product-content">
                           <div class="desc std">
                              <a class="product description product-item-description typeB internal-link" href="/products/vanish-seamless-finish-foundation-brush">A high-performance foundation brush designed with the ideal shape, density and texture to achieve the most seamless finish.</a>
                           </div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title">
                                 <a class="product-item-link internal-link" href="/products/vanish-seamless-finish-foundation-brush">VANISH™ SEAMLESS FINISH FOUNDATION BRUSH</a>
                              </h4>
                              <div class="price-box">
                                 <div class="price-box">
                                    <a class="product-item-link internal-link" href="/products/vanish-seamless-finish-foundation-brush">
                                    <span class="regular-price" id="product-price-414-related-1">
                                    <span class="price">$46.00</span>
                                    </span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="item product product-grid grid column product-item">
                     <div class="product-name-tag">
                        <a href="/products/n-2-foundation-blush-brush">FOR DIFFUSED COVERAGE</a>
                     </div>
                     <div class="product-info-top">
                        <a class="product-image" href="/products/n-2-foundation-blush-brush"> 
                        <img alt="Nº 2 FOUNDATION BRUSH" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/for-defused-coverage.png?8555949683528060542">
                        </a>
                        <div class="product-content">
                           <div class="desc std">
                              <a class="product description product-item-description typeB internal-link" href="/products/n-2-foundation-blush-brush">The Hourglass Nº 2 Foundation/Blush brush is a densely packed, medium domed shape that effortlessly applies foundation, blush, highlighters.</a>
                           </div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title">
                                 <a class="product-item-link internal-link" href="/products/n-2-foundation-blush-brush">Nº 2 FOUNDATION BRUSH</a>
                              </h4>
                              <div class="price-box">
                                 <div class="price-box">
                                    <a class="product-item-link internal-link" href="/products/n-2-foundation-blush-brush"> 
                                    <span class="regular-price" id="product-price-414-related-1"> 
                                    <span class="price">$58.00</span> 
                                    </span> 
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="item product product-grid grid column product-item">
                     <div class="product-name-tag">
                        <a href="/products/veil-translucent-setting-powder">SET WITH</a>
                     </div>
                     <div class="product-info-top">
                        <a class="product-image" href="/products/veil-translucent-setting-powder"> 
                        <img alt="VEIL™ TRANSLUCENT SETTING POWDER" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/set-with.png?8555949683528060542"> 
                        </a>
                        <div class="product-content">
                           <div class="desc std">
                              <a class="product description product-item-description typeB internal-link" href="/products/veil-translucent-setting-powder">The magic of Veil transformed into an ultra-refined loose powder designed to give skin a naturally flawless finish. This finely-milled, weightless powder is formulated.</a>
                           </div>
                        </div>
                     </div>
                     <div class="product-info">
                        <div class="fake-table">
                           <div class="fake-cell">
                              <h4 class="product-name-title">
                                 <a class="product-item-link internal-link" href="/products/veil-translucent-setting-powder">VEIL™ TRANSLUCENT SETTING POWDER</a>
                              </h4>
                              <div class="price-box">
                                 <div class="price-box">
                                    <a class="product-item-link internal-link" href="/products/veil-translucent-setting-powder"> 
                                    <span class="regular-price" id="product-price-414-related-1"> 
                                    <span class="price">$46.00</span>
                                    </span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="howtousepopup">
<div class="fancybox-overlay">
<span class="howtousepopup-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg></span>
</div>
<div class="fancybox-box-main">
    <iframe id="youtubevidid1" class="fancybox-iframe" width="640" height="360" src="https://www.youtube.com/embed/x-JIeSCtkkg" title="Full Coverage" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen type="text/html"></iframe>
    <iframe id="youtubevidid2" class="fancybox-iframe" width="640" height="360" src="https://www.youtube.com/embed/sLB9KujmEYo" title="Diffused Coverage" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen type="text/html"></iframe>
    <iframe id="youtubevidid3" class="fancybox-iframe" width="640" height="360" src="https://www.youtube.com/embed/nnDh8U0nP6g" title="Luminous Coverage" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen type="text/html"></iframe>
    <iframe id="youtubevidid4" class="fancybox-iframe" width="640" height="360" src="https://www.youtube.com/embed/WxW45lLgdK4" title="Targeted Coverage" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen type="text/html"></iframe>
</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
     jQuery('.howtousepopup').appendTo('.main-content')
     
     jQuery('.cmn-videoplay').click(function(event){
        jQuery('#youtubevidid1, #youtubevidid2, #youtubevidid3, #youtubevidid4').hide();
        var frame = $(this).attr('frame-id');
        jQuery('#'+frame+'').show();
        event.preventDefault();
               
        var video_url1 = $('#youtubevidid1').attr('src');
        var video_title1 = $('#youtubevidid1').attr('title');        
        var video_url2 = $('#youtubevidid2').attr('src');
        var video_title2 = $('#youtubevidid2').attr('title');        
        var video_url3 = $('#youtubevidid3').attr('src');
        var video_title3 = $('#youtubevidid3').attr('title');        
        var video_url4 = $('#youtubevidid4').attr('src');
        var video_title4 = $('#youtubevidid4').attr('title');        
        
        var currentSrc = jQuery(this).attr("href") + "&autoplay=1&loop=1";
        jQuery('#'+frame+'').attr("src", currentSrc);
        jQuery('.fancybox-overlay, .fancybox-box-main').show();
       
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        tag.id = 'youtubeScript';
        var firstScriptTag = document.getElementsByTagName('script')[1];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var countTarck1 = [], countTarck2 = [], countTarck3 = [], countTarck4 = [];
        var last_percent = 0, last_percent2 = 0, last_percent3 = 0, last_percent4 = 0, player, player2, player3, player4, timer, timer2, timer3, timer4, display = document.getElementById('timeDisplay');
        window.onYouTubeIframeAPIReady = function() {
            player = new YT.Player('youtubevidid1', {
                events: { 'onStateChange': onPlayerStateChange }
            });
            player2 = new YT.Player('youtubevidid2', {
                events: { 'onStateChange': onPlayerStateChange2 }
            });
            player3 = new YT.Player('youtubevidid3', {
                events: { 'onStateChange': onPlayerStateChange3 }
            });
            player4 = new YT.Player('youtubevidid4', {
                events: { 'onStateChange': onPlayerStateChange4 }
            });
        }
        
        window.onPlayerStateChange = function(event){
            //console.log(video_url1+" @@@@ "+video_title1);
            if(event.data === 1) { // Started playing
                timer = setInterval(record,100);
            } else {
                clearInterval(timer);
            }
        }

        window.onPlayerStateChange2 = function(event2){
            //console.log(video_url2+" @@@@ "+video_title2);
            if(event2.data === 1) { // Started playing
                timer2 = setInterval(record2,100);
            } else {
                clearInterval(timer2);
            }
        }

        window.onPlayerStateChange3 = function(event3){
            //console.log(video_url3+" @@@@ "+video_title3);
            if(event3.data === 1) { // Started playing
                timer3 = setInterval(record3,100);
            } else {
                clearInterval(timer3);
            }
        }
        
        window.onPlayerStateChange4 = function(event4){
            //console.log(video_url4+" @@@@ "+video_title4);
            if(event4.data === 1) { // Started playing
                timer4 = setInterval(record4,100);
            } else {
                clearInterval(timer4);
            }
        }

        function record(){
            percent = Math.round(player.getCurrentTime() / player.getDuration() * 100);

            if(last_percent != percent){
                //console.log('percent 1 : '+percent);
                if( percent == 1 || percent == 25 || percent == 50 || percent == 75 || percent == 100 ){
                    callDataLayerPush( 1, percent, video_title1, video_url1);
                }
                last_percent = percent;
            }
        }

        function record2(){
            percent2 = Math.round(player2.getCurrentTime() / player2.getDuration() * 100);

            if(last_percent2 != percent2){
                //console.log('percent 2 : '+percent2);
                if( percent2 == 1 || percent2 == 25 || percent2 == 50 || percent2 == 75 || percent2 == 100 ){
                    callDataLayerPush( 2, percent2, video_title2, video_url2);
                }
                last_percent2 = percent2;
            }
        }

        function record3(){
            percent3 = Math.round(player3.getCurrentTime() / player3.getDuration() * 100);

            if(last_percent3 != percent3){
                //console.log('percent 3 : '+percent3);
                if( percent3 == 1 || percent3 == 25 || percent3 == 50 || percent3 == 75 || percent3 == 100 ){
                    callDataLayerPush(3, percent3, video_title3, video_url3);
                }
                last_percent3 = percent3;
            }
        }
       
        function record4(){
            percent4 = Math.round(player4.getCurrentTime() / player4.getDuration() * 100);

            if(last_percent4 != percent4){
                //console.log('percent 4 : '+percent4);
                if( percent4 == 1 || percent4 == 25 || percent4 == 50 || percent4 == 75 || percent4 == 100 ){
                    callDataLayerPush(4, percent4, video_title4, video_url4);
                }
                last_percent3 = percent4;
            }
        }

        function callDataLayerPush( no, per, title, url){

            var flag = true;
            if( no == 1 && countTarck1.indexOf(per) !== -1 ){
                flag = false;
            }else if( no == 2 && countTarck2.indexOf(per) !== -1 ){
                flag = false;
            }else if( no == 3 && countTarck3.indexOf(per) !== -1 ){
                flag = false;
            }else if( no == 4 && countTarck4.indexOf(per) !== -1 ){
                flag = false;
            }

            if(flag){
                var videoAction = per;
                if( per == 1 ){
                    videoAction = 'Play';
                }else if ( per == 100 ){
                    videoAction = 'Complete';
                }else{
                    videoAction = per+'%';
                }

                window.dataLayer.push({
                    'event': 'videoTrack',
                    'videoAction': videoAction,
                    'videoName': title,
                    'videoPlayer': 'Youtube',
                    'videoURL': url
                });
                if( no == 1 ){
                    countTarck1.push(per);
                }else if( no == 2 ){
                    countTarck2.push(per);
                }else if( no == 3 ){
                    countTarck3.push(per);
                }else if( no == 4 ){
                    countTarck4.push(per);
                }
            }
        }
       
       
       
      });
      

      jQuery('.howtousepopup-close, .fancybox-overlay').click(function(event){
        event.preventDefault();
        jQuery('#youtubevidid1, #youtubevidid2, #youtubevidid3, #youtubevidid4').attr("src",'');
        jQuery('.fancybox-overlay, .fancybox-box-main').hide();
      })

    })
</script>
