<div class="heading-style-border">
  <h3>See The Results</h3>
</div>
<div class="see-result-section border-bottom section-pd">
  <div class="container-fix">
    <div class="before-after-results">
      <div class="before-use">
        <h3>Before</h3>
        <img alt="Before Use" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-use-before.png?2133906899642185646" />
      </div>
      <div class="after-use">
        <h3>After</h3>
        <img alt="After Use" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanish-use-after.png?2133906899642185646" />
      </div>
    </div>
  </div>
</div>
<div class="vanishliquid-section">
  <a href="/products/vanish-seamless-finish-liquid-foundation">
    <img alt="VANISH&trade; SEAMLESS FINISH LIQUID FOUNDATION" class="vanish-banner-desk" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanishliquid-banner.jpg?12232328263480963723" />
    <img alt="VANISH&trade; SEAMLESS FINISH LIQUID FOUNDATION" class="vanish-banner-mob" src="https://cdn.shopify.com/s/files/1/0081/1660/0950/files/vanishliquid-banner-mob.jpg?12232328263480963723" />
  </a>
  <div class="vanishliquid-caption">
    <small>THE FUTURE OF FOUNDATION</small>
    <h3>#VANISHLIQUID</h3>
    <a class="defaultn-style defaultn-style-white" href="/products/vanish-seamless-finish-liquid-foundation">SHOP NOW</a>
  </div>
</div>