<div class="section fullheightblock video-section" id="section2">
  	{% if section.settings.desk_link != blank %}
		<a href="{{ section.settings.desk_link }}" ></a>
  	{% endif %}
  	{% if section.settings.des_link != blank %}
  		<iframe id="vimeo-desk" src="{{ section.settings.des_link }}" width="640" height="326" frameborder="0" muted="" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    {% endif %}
  	{% if section.settings.mob_link != blank %}
  		<iframe id="vimeo-mobi" src="{{ section.settings.mob_link }}" width="640" height="999" frameborder="0" muted="" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    {% endif %}
</div>
{% schema %}
  {
    "name": {
      "en": "Image with text overlay",
      "de": "Foto mit überlegtem Text",
      "fr": "Image avec texte"
    },
    "class": "index-section index-section--flush",
    "settings": [
	  {
        "type": "image_picker",
        "id": "desk_image",
        "label": {
          "en": "Desktop Image",
          "de": "Desktop Image",
          "fr": "Desktop Image"
        }
      },
	  {
        "type": "url",
        "id": "desk_link",
        "label": {
          "en": "link",
          "de": "link",
          "fr": "link"
        }
      },
      {
        "type": "text",
        "id": "des_link",
        "label": {
        	"en": "Desk link",
        	"de": "Desk link",
        	"fr": "Desk link"
        	}
      },
      {
        "type": "text",
        "id": "mob_link",
        "label": {
        	"en": "Mobile link",
        	"de": "Mobile link",
        	"fr": "Mobile link"
        	}
      },
     {
      "type": "text",
      "id": "title_sub",
      "label": {
      "en": "Small Heading",
      "de": "Titel",
      "fr": "En-tête"
      },
      "default": {
      "en": "Image with text overlay",
      "de": "Foto mit überlegtem Text",
      "fr": "Image avec superposition de texte"
      }
      },
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête"
        },
        "default": {
          "en": "Image with text overlay",
          "de": "Foto mit überlegtem Text",
          "fr": "Image avec superposition de texte"
        }
      },
      
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte"
        },
        "default": {
          "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>",
          "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
          "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>"
        }
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": {
          "en": "Section height",
          "de": "Bereichs-Höhe",
          "fr": "Hauteur de la section"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "en": "Extra Small",
              "de": "Extra klein",
              "fr": "Très petite"
            },
            "value": "x-small"
          },
          {
            "label": {
              "en": "Small",
              "de": "Klein",
              "fr": "Petite"
            },
            "value": "small"
          },
          {
            "label": {
              "en": "Medium",
              "de": "Mitte",
              "fr": "Moyenne"
            },
            "value": "medium"
          },
          {
            "label": {
              "en": "Large",
              "de": "Groß",
              "fr": "Grande"
            },
            "value": "large"
          },
          {
            "label": {
              "en": "Extra Large",
              "de": "Extra groß",
              "fr": "Très grande"
            },
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": {
          "en": "Text size",
          "de": "Textgröße",
          "fr": "Taille du texte"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "en": "Medium",
              "de": "Mitte",
              "fr": "Moyenne"
            },
            "value": "medium"
          },
          {
            "label": {
              "en": "Large",
              "de": "Groß",
              "fr": "Grande"
            },
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Video with text",
          "de": "Video with text",
          "fr": "Video with text"
        },
        "category": {
          "en": "Advanced layout",
          "de": "Komplizierteres Layout",
          "fr": "Mise en page avancée"
        }
      }
    ]
  }
{% endschema %}

