
<div class="arch-scn-main"> 

	<div class="the-grove-popup-main">
		{% section 'page-grove-popup-1-template' %}
		{% section 'page-grove-popup-2-template' %}
		{% section 'page-grove-popup-3-template' %}

	</div>

</div>

<script type="application/ld+json">// <![CDATA[
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "stagehourglasscosmetics",
  "startDate": "2019-06-15T00:30",
  "endDate": "2025-01-01T23:00",
  "location": {
    "@type": "Place",
    "name": "HOURGLASS POP-UP @ THE GROVE",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "189 The Grove Dr",
      "addressLocality": "Los Angeles",
      "postalCode": "90036",
      "addressRegion": "CA",
      "addressCountry": "US"
    }
  },
  "image": [
    "https://cdn.shopify.com/s/files/1/0016/7116/8064/products/h070010001_ambientlightprimeronwht_dimlight_main_2_7d9f7d30-7e38-4351-956f-15845ce25974_1x1.jpg?v=1556780080",
    "https://cdn.shopify.com/s/files/1/0016/7116/8064/products/h070010001_ambientlightprimeronwht_dimlight_main_2_7d9f7d30-7e38-4351-956f-15845ce25974_4x3.jpg?v=1556780080",
    "https://cdn.shopify.com/s/files/1/0016/7116/8064/products/h070010001_ambientlightprimeronwht_dimlight_main_2_7d9f7d30-7e38-4351-956f-15845ce25974_16x9.jpg?v=1556780080"
   ],
  "description": "Join us to celebrate the launch of Arch Brow Micro PencilTHICK OR THIN, UNTAMED OR FILLED-IN – EMBRACE YOUR #UNRESTRICTEDBROW",
  "offers": {
    "@type": "Offer",
    "url": "https://stagehourglasscosmetics.myshopify.com/pages/the-grove-popup",
    "price": "30",
    "priceCurrency": "USD",
    "availability": "https://schema.org/InStock",
    "validFrom": "2019-06-15T00:30"
  },
  "performer": {
    "@type": "PerformingGroup",
    "name": "Hourglass Cosmetics"
  }
}
// ]]></script>
