<div class="careers-wrapper" id="carpanel">
<div class="footer-page-body-copy">
<h1 class="requiredtag"></h1>
<h2>Careers</h2>
<p>Hourglass is an organization committed to diversity and inclusion to drive its business results and to create a better future every day for its diverse employees, global consumers, partners and communities. If you are an individual with a disability and need an accommodation in order to apply for a job listing, please contact us at <a href="tel:+3103927799" aria-describedby="a11y-external-message">310-392-7799</a> or <a href="mailto:careers@hourglasscosmetics.com" aria-describedby="a11y-external-message">careers@hourglasscosmetics.com.</a></p>
<p>Equal Opportunity/Affirmative Action Employer Minorities/Females/Protected Veterans/Persons with Disabilities</p>
<p>Applicants and employees are protected from discrimination under Federal law. For more information, please see <a class="unerline-link" href="https://www.dol.gov/ofccp/regs/compliance/posters/pdf/OFCCP_EEO_Supplement_Final_JRF_QA_508c.pdf?v1.50" target="_blank" rel="noopener noreferrer" aria-describedby="a11y-new-window-external-message" title="Opens in a new window">EEO is the Law.</a></p>
</div>
</div>
<div id="grnhse_app"></div>
<script src="https://boards.greenhouse.io/embed/job_board/js?for=hourglasscosmetics"></script>
<style>
  @media (max-width: 767px){
   body .careers-wrapper {padding-left: 15px; padding-right: 15px;} 
  }
</style>
<script type="text/javascript">
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
  var foo = getParameterByName('gh_jid');
  if(foo == null){
  }else{
    document.getElementById("carpanel").style.display = "none";
  }
</script>
<h3 class="requiredtag"></h3>