<div class="pro-program-landing">
  {% section 'pro-program1' %}
  {% section 'pro-program2' %}
  {% section 'pro-program3' %}
  {% section 'pro-program4' %}
  {% section 'pro-program5' %}
  {% section 'pro-program6' %}
</div>