<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {% comment %}{% section 'coming-soon' %}{% endcomment %}
         {% section 'waitlist-coming-soon' %}
      </div>
    </div>
  </div>
</div>

<script>
 
  $(document).ready(function() {
  	$('.curator-event').removeClass('curator-event-load');
  });
  
</script>