<div class="form-message form-message--success hide contact-message" id="SuccessMsg"></div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% section 'shop-unlocked-vip-makeup-experience' %}
	  {% comment %}
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="rte">
          {{ page.content }}
        </div>
      {% endcomment %}
    </div>
  </div>
</div>